html {
    scroll-behavior: smooth;
}

.navbar{ background:#050505;}


.nav-link , .navbar-brand{ 
    color: #f4f4f4; 
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-size:larger;
}

a.navbar-brand {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;

}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ color: red; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}

.navbar-collapse{
    justify-content: flex-end;
   }



.description{
    text-align: center;
    top: 30%;
    margin: auto;
    padding: 200px;
    
}
.description h1{
 color: black ;
 font-family: 'Dancing Script', cursive;
 font-weight:800;
 font-display:initial;
 font-size: 80px;
}
.description p{
 color:white;
 font-size: 30px;
 line-height: 1.5;

}

.description button{
    border:1px  solid #807c77;
    background:#0a0a0a;
    color:#fff;
    cursor: pointer;
   }

   .bounce {
      text-align: center;
      animation: bounce 2s infinite;
      padding: 20px;
   }

   @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-35px);
    }
    60% {
      transform: translateY(-20px);
    }
  }



  #best-title{
    text-align: center;
    color: white;
    font-weight: 800;
  }
  .controls-top h2{
    color: black;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: bolder;

  }
  .col-md-4{
    border-radius: 10%;
    padding: 10px;
  }

  #variety{
    padding-top: 30px;
  }

  .card-img-top{
    padding: 40px;
    height: 300px;
    width: 300px;
    object-fit: cover;
  }

  .opacity{
    background-color:black;
    opacity: 0.9;
  }


  @media only screen and (max-width: 485px){
    .flex-xs-column {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 767px){
    .section {
      padding-top: 30px;
  }
  .flex-xs-column {
      flex-direction: column;
  }}